<ul class="mobile-nav list-unstyled">
  <li class="main-item nav-item">
    <a href="historia.html">Historia</a>
  </li>
  <li class="main-item nav-item">
    <a href="panaderias.html">Panaderías</a>
  </li>
  <li class="main-item nav-item">
    <a href="blog.html">Blog</a>
  </li>
  <li class="main-item nav-item">
    <a href="contacto.html">Contacto</a>
  </li>
  <li class="main-item subscribe-item">
    <a class="with-arrow newsletter-btn" href="#">Suscríbete a nuestro Newsletter</a>
  </li>
  <li class="main-item social-item">
    <a href="#">Instagram</a> <a href="#">Facebook</a>
  </li>
</ul>