.h1,
h1 {
  @extend %type-title;

  font-size     : 22px;
  letter-spacing: -0.4px;
  line-height   : 25px;
  @include media-breakpoint-up(md) {
    font-size     : 30px;
    letter-spacing: -0.7px;
    line-height   : 30px;
  }
  @include media-breakpoint-up(lg) {
    font-size     : 45px;
    letter-spacing: -0.8px;
    line-height   : 45px;
  }
}

h2 {
  @extend %type-title;

  font-size     : 12px;
  letter-spacing: .72px;
  line-height   : 30px;
  text-transform: uppercase;
  @include media-breakpoint-up(md) {
    font-size     : 16px;
    letter-spacing: .96px;
    line-height   : 30px;
  }
  @include media-breakpoint-up(lg) {
    font-size     : 20px;
    letter-spacing: 1.2px;
    line-height   : 30px;
  }
}

.h3,
h3 {
  @extend %type-title;

  font-size     : 12px;
  letter-spacing: 1px;
  line-height   : 20px;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    font-size: 13px;
  }
  @include media-breakpoint-up(lg) {
    font-size     : 14px;
    letter-spacing: 1.125px;
  }
}

h4 {
  @extend %type-title;
  font-size     : 22px;
  letter-spacing: -0.4px;
  line-height   : 25px;
  @include media-breakpoint-up(md) {
    font-size     : 30px;
    letter-spacing: -0.7px;
    line-height   : 30px;
  }
  @include media-breakpoint-up(lg) {
    font-size     : 35px;
    letter-spacing: -0.82px;
    line-height   : 35px;
  }
}

em {
  @extend %type-script;
  text-shadow: .125px .125px 0 $turquoise;
  font-size  : 20px;
  line-height: 20px;
  color      : $pale-turq;
  @include media-breakpoint-up(md) {
    font-size  : 22px;
    line-height: 18px;
  }
  @include media-breakpoint-up(lg) {
    font-size  : 30px;
    line-height: 25px;
  }
}

.text-black {
  color: $black;
}

.text-white {
  color: $white;
}

%text-sans,
.text-sans {
  @extend %type-sans;
  font-size     : 12px;
  letter-spacing: -0.2px;
  line-height   : 20px;
  @include media-breakpoint-up(lg) {
    font-size     : 14px;
    letter-spacing: -0.25px;
    line-height   : 24px;
  }
}

.h5,
.text-subtitle,
h5 {
  @extend %type-body-medium-italic;
  font-size     : 15px;
  letter-spacing: -0.17px;
  line-height   : 24px;
  @include media-breakpoint-up(md) {
    font-size     : 18px;
    letter-spacing: -0.15px;
    line-height   : 24px;
  }
  @include media-breakpoint-up(lg) {
    font-size     : 20px;
    letter-spacing: -0.17px;
    line-height   : 24px;
  }
}
