body,
html {
  @extend %type-body;
  @extend %font-smoothing;
  background: $body-background-color;
  color     : $body-text-color;
  height    : 100%;
  
  @include media-breakpoint-down(md) {
    font-size  : 15px;
    line-height: 20px;
  }
  @include media-breakpoint-down(lg) {
    font-size  : 18px;
    line-height: 24px;
  }

}


main {
  opacity: 0;
}

@include media-breakpoint-down(md) {

}

@include media-breakpoint-down(sm) {

}
