$body-background-color: #F4F3F1;
$body-text-color: #003047;
$mobile-nav-bg: #003047;
$placeholder-color: #003047;

$bezier: cubic-bezier(.445, .5, .55, .95);

// Typography Options
$font-body: 'Garamond Premier Pro';
$font-sans: 'Trade Gothic LT Std';
$font-script: 'LHF Stanford Script';

%type-body {
  font-family: $font-body;
  font-weight: normal;
  font-style : normal;
}

%type-sans {
  font-family: $font-sans;
  font-weight: 500;
  font-style : normal;
}

%type-script {
  font-family: $font-script;
  font-weight: normal;
  font-style : normal;
}

%type-title {
  font-family: $font-body;
  font-weight: normal;
  font-style : normal;
}
